.navbar {
  background-color: #fcd34d !important;
}

.navbar a {
  color: #444 !important;
}

.__yellow {
  background-color: #fcd34d;
}

.__dwn-btn {
  background-position: center;
  background-size: 105%;
  background-repeat: no-repeat;
  width: 10rem;
  height: 3.2rem;
  border-radius: 0.4rem;
  overflow: hidden;
}

.__social-media-btns {
  height: 3rem;
  width: 3rem;
  padding: 1.8rem;
}

footer a {
  color: #888;
  text-decoration: underline;
}
